<div class="row">
    <div class='col-md-6 offset-md-3 card card-body bg-light'>
        <form method='post' action='/todoitems/addCategory'>
            <input type='text' name='name' class='form-control' placeholder="Category" />
            <br />
            <button class="btn btn-primary btn-block">Save</button>
        </form>
    </div>
</div>

