<div class="row">
    <table class='table table-hover table-striped table-bordered'>
        <tr>
            <th>Title</th>
            <th>Category Name</th>
            <th>Due Date</th>            
            <th>Completed Date</th>
        </tr>
        <% for(let i=0; i < toDoItems.length; i++) { %>
            <tr>
                <td><%= toDoItems[i].Title %></td>
                <td><%= toDoItems[i].Name %></td>
                <td><%= toDoItems[i].DueDate %></td>
                <td><%= toDoItems[i].CompletedDate %></td>
            </tr>
        <%}%> 
    </table>


</div>