<div class="row">
    <div class='col-md-6 offset-md-3 card card-body bg-light'>
        <form method='post' action='/todoitems/updateCategory'>
            <input type='text' name='name' class='form-control' placeholder="Category Name" value='<%= category.Name %>' />
            <br />
            <input type='hidden' name='id' value='<%= category.Id %>' />
            <button class='btn btn-warning btn-block'>Update</button>
        </form>
    </div>
</div>